
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/package.json

# ignore test data
/tests/testData/

# dotenv environment variables file
.env
.node_modules\dotenv